@import "tailwindcss";

@page {
    size: A4;
    margin: 15mm;
}

@media print {

    html,
    body {
        background: white !important;
        margin: 0;
        padding: 0;
    }

    .page-break {
        break-before: page;
        page-break-before: always;
    }

    .avoid-break {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .sidebar {
        display: none !important;
    }

    .button-print {
        display: none !important;
    }

    .print-button-container {
        display: none !important;
    }

    .print\:hidden {
        display: none !important;
    }

    .print-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}